<%- title "Guided Search" -%>

<p>
  This form will help you construct a search query.
</p>

<% form_for(:search, :url => {:action => 'search'}, :html => { :id => 'advanced_search' }) do |f| %>
  <table><tbody>
  <%- ([:full_text] + GuidedSearchContainer::FIELD_NAMES).each do |field| -%>
    <tr class="<%= cycle("even", "odd") %>">
      <th><%= f.label field %></th>
      <td><%= f.text_field field %></td>
    </tr>
  <%- end -%>
  </tbody></table>
  <p><%= submit_tag("Search") %></p>
<% end %>