- title "Template Management"
%ul
  - @templates.each do |id, name|
    %li{ :id => "template_#{id}" }
      &= name
      = link_to("edit name", edit_template_path(id)) if permitted_to? :edit, :templates
      - if permitted_to? :destroy, :templates
        = link_to_remote("destroy", :url => {:action => 'destroy', :id => id}, :method => :delete, :html => {:class => 'destroy_link'})