#error, #warning, #message {
    width: 400px;
    border: 2px solid;
    padding: 7px;
    margin-bottom: 20px;
}

#error {
    background-color: #f77;
    border-color: #f00;
}

#warning {
    background-color: #ff7;
    border-color: #ff0;
}

#message {
    background-color: #eee;
    border-color: #aaa;
}

.destroy_link {
    color: red;
    font-size: smaller;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#navbar {
  width: 600px;
  background-color: #7f7f7f;
  padding: 8px 2px;
  margin: 2px;
}

#navbar ul {
  padding: 0px;
  margin: 0px;
}

#navbar li {
  display: inline;
  padding: 2px 4px;
  margin: 2px 2px; 
  background-color: #eee;
  list-style-type: none;
}

#navbar #user-bar {
  font-size: smaller;
  margin: 0px 4px;
  clear: both;
}

#navbar #user-bar .user-bar-greeting { float: left; margin-bottom: 6px; }

#navbar #user-bar .user-bar-action { float: right; margin-bottom: 6px; }

#navbar .post-user-bar { clear: both; }

#navbar .navbar2 { margin-top: 8px; }

a { color: inherit; text-decoration: underline; }

#aboutlink {
  border-top: 1px solid #777;
  padding-top: 2px; 
  font-size: smaller;
  color: #444;
}

.asset-summary { padding-bottom: 1ex; }

#record_count {
  margin-right: 3em;
}

#toggle_annotations_link {
  color: #444;
}

#advanced_search td input {
  width: 600px;
  margin: 3px;
}

#advanced_search td, #advanced_search th { margin: 0px; }

#advanced_search tr.odd { background-color: #ddd; }
#advanced_search tr.even { background-color: #eee; }

.required {
    background-color: #fcc;
}