/*
 * WNYC theme-specific style rules
 */

/* colors */
a { color: #000; }
a:hover { color: #508bc7; }
body { background-color: #262626; }

a.secondaryLink:hover { color: #508bc7; }

.topnavLi li a { color: #ccc; }
.topnavLi li a:hover { color: #508bc7; }

.topnavuserBar { color: #ccc; }
.topnavuserBar a { color: #ccc; }
.topnavuserBar a:hover { color: #508bc7; }

.searchSelected { color: #508bc7; }

.contentTopLinks { color: #666; }
a.contentTopLinks { color: #ccc; }
a.contentTopLinks:hover { color: #508bc7; }

a.contentLink { color: #508bc7; }
a.contentLink:hover { color: #508bc7; }

a.footerLink { color: #ccc; }
a.footerLink:hover { color: #81afdf; }

a#all_asset_link, a#streamable_asset_link { color: #666; }
a#all_asset_link:hover, a#streamable_asset_link:hover, a#all_asset_link.selected_option, a#streamable_asset_link.selected_option { color: #508bc7; }

/* images */
.topnavBar { background-image: url(/images/wnyc/template/topnavBg.jpg); }
.topnavuserBar { background-image: url(/images/wnyc/template/topnavuserBg.jpg); }
.sidebarTop { background-image: url(/images/wnyc/template/sidebarTop.jpg); }
.sidebarMiddle { background-image: url(/images/wnyc/template/sidebarBg.jpg); }
.sidebarSearch { background-image: url(/images/wnyc/template/sidebarBg.jpg); }
.sidebarBottom { background-image: url(/images/wnyc/template/sidebarBottom.jpg); }
.contentTop { background-image: url(/images/wnyc/template/contentTop.jpg); }
.contentMiddle { background-image: url(/images/wnyc/template/contentBg.jpg); }
.contentDivider { background-image: url(/images/wnyc/template/contentDivider.jpg); }
.contentBottom { background-image: url(/images/wnyc/template/contentBottom.jpg); }
.header { background-image: url(/images/wnyc/template/header.jpg); }
.holder { background-image: url(/images/wnyc/template/bg_color.jpg); }

a#all_asset_link { 
	height:12px;
	padding:5px 0 5px 25px;
	margin:0 5px;
	line-height:12px;
	display:block;
	float:left;
	background:transparent url(/images/wnyc/buttons/btnAssets.png) 0 -2px no-repeat; 
	}
a#streamable_asset_link {
	height:12px;
	padding:5px 0 5px 25px;
	margin:0 5px;
	line-height:12px;
	display:block; 
	float:left;
	background:transparent url(/images/wnyc/buttons/btnStreamable.png) 0 -2px no-repeat; 
	}
	
