#######################################################################
#
# This is the main Nginx configuration file.  
#
# More information about the configuration options is available on 
#   * the English wiki - http://wiki.codemongers.com/Main
#   * the Russian documentation - http://sysoev.ru/nginx/
#
#######################################################################

user              nginx;
worker_processes  4;

error_log         /var/log/nginx/error.log;

pid               /var/run/nginx.pid;

events {
    worker_connections  1024;
    use epoll;
}


#----------------------------------------------------------------------
# HTTP Core Module
#
#   http://wiki.codemongers.com/NginxHttpCoreModule 
#
#----------------------------------------------------------------------

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server_names_hash_bucket_size 64;

    log_format  main  '$remote_addr - $remote_user [$time_local] $request '
                      '"$status" $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile        on;
    tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  15;

    gzip  on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_proxied any;
    gzip_types       text/html text/plain text/css text/javascript application/x-javascript;
    
    # Load config files from the /etc/nginx/conf.d directory
    #include /etc/nginx/conf.d/*.conf;

    upstream thin {
        server 127.0.0.1:9000;
        server 127.0.0.1:9001;
        server 127.0.0.1:9002;
    }
    server {
        listen       80;
        server_name  wnet-archive1 wnet-archive1.thirteen.org archive-catalog archive-catalog.thirteen.org;
        location / {
            rewrite ^(.*)$ http://wnet-pbcore$1 permanent;
        }
    }

    server {
        listen       80;
	server_name  wnet-pbcore wnet-pbcore.thirteen.org;

        access_log  /var/log/nginx/access.log  main;

        root /var/www/pbcore/current/public;
        if (-f /var/www/pbcore/shared/system/maintenance.html) {
            rewrite  ^(.*)$  /system/maintenance.html last;
            break;
        }

	client_max_body_size 20m;

        location / {
            proxy_set_header  X-Real-IP  $remote_addr;
            proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header  Host $http_host;
            proxy_redirect    false;
            proxy_max_temp_file_size 0;
            if (!-f $request_filename) {
                proxy_pass http://thin;
                break;
            }
        }

        error_page  404              /404.html;
        location = /404.html {
            root   /usr/share/nginx/html;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
}
