- title "Upload Thumbnail"
%h2& Upload a thumbnail of #{@asset.title}
%p
  Identifier:
  &= @asset.identifier
- form_tag({:action => 'upload_thumbnail'}, :method => 'put', :multipart => true, :id => 'thumbnail_form') do
  %p Please select a thumbnail to upload:
  %p
    = file_field_tag 'thumbnail'
    = submit_tag 'Upload Thumbnail'
%p Most image file formats are OK, but upload a JPEG or PNG for best results.