<%- title "About this software" -%>
<p>
The web PBCore database was originally developed by <a
href="http://vermicel.li/">Roasted Vermicelli LLC</a> for the <a
href="http://www.thirteen.org/">WNET Digital Archive</a>. It was
futher developed in 2009–2010 for the <a
href="http://www.danceheritage.org">Dance Heritage Coalition</a>
Secure Media Network with funding from <a
href="http://www.mellon.org">The Andrew W. Mellon
Foundation</a>. Design by <a href="http://thebluegriffin.com">The Blue
Griffin Design Studio</a>.
</p>
<p>
Copyright © 2008–2009 Educational Broadcasting
Corporation. Copyright © 2009–2010 Roasted Vermicelli, LLC. All
rights reserved.
</p>
<%- if @extra && !@extra.empty? -%>
<p><%= @extra %></p>
<%- end -%>
<p>
This program is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.
</p>
<p>
This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.
</p>
<p>
You should have received a copy of the GNU General Public License along
with this program.  If not, see &lt;<a 
href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.
</p>
<p>
Code in the vendor and gems directories of this project was created by  
other authors under potentially different Free Software licenses; look  
in those directories for further information.
</p>
<p>
  This work employs <a href="http://www.pbcore.org/">PBCore</a>. The PBCore
  (Public Broadcasting Metadata Dictionary) was created by the public
  broadcasting community in the United States of America for use by public
  broadcasters and others. Initial development funding for PBCore was provided
  by the Corporation for Public Broadcasting.  The PBCore is built on the
  foundation of the Dublin Core (ISO 15836), an international standard for
  resource discovery (<a href="http://dublincore.org/">http://dublincore.org</a>),
  and has been reviewed by the Dublin Core Metadata Initiative Usage Board.
  Copyright: 2005, Corporation for Public Broadcasting.
</p>
<p>
  This software is powered by
  <a href="http://ruby-lang.org/">Ruby</a> <a href="http://www.rubyonrails.org/">on Rails</a>,
  <a href="http://lucene.apache.org/solr/">Apache Solr</a>,
  <a href="http://www.mysql.com/">MySQL</a>,
  <a href="http://nginx.net/">nginx</a>,
  and other third-party modules.
</p>
<%- unless @revision.nil? -%>
<p id="revpara">
  Code revision <code class="rev"><%= @revision %></code>.
</p>
<%- end -%>
