/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic { width: 655px; }
form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input,
form.formtastic fieldset > ol > li.pbcore_combobox input,
input#instantiation_language_tokens { width:72%; }

form.formtastic fieldset > ol > li.string input[size], 
form.formtastic fieldset > ol > li.password input[size], 
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size],
form.formtastic fieldset > ol > li.pbcore_combobox input[size] { width:auto; max-width:72%; }

form.formtastic input,
form.formtastic select,
form.formtastic textarea,
form.formtastic label { font-family: Helvetica, 'Microsoft Sans Serif', 'Arial Narrow', Arial, sans-serif; }
form.formtastic label { font-weight: bold; color: black; }
form.formtastic fieldset.inputs > ol > li { margin-left: 10px; margin-bottom: -5px; clear: left; }
form.formtastic fieldset.inputs > ol > li.col-1,
form.formtastic fieldset.inputs > ol > li.col-2 { display: block; float: left; width: 45%; }
form.formtastic fieldset.inputs > ol > li.col-1 { clear: left; }
form.formtastic fieldset.inputs > ol > li.col-2 { clear: none; }
form.formtastic fieldset.inputs > ol > li.remove-wrapper { float: left; clear: none; margin-top: 10px; }
form.formtastic fieldset.inputs > ol > li.col-1 > input,
form.formtastic fieldset.inputs > ol > li.col-2 > input { width: 85%; }
form.formtastic fieldset.inputs > ol > li > label { font-weight: bold; color: #000; font-size: 12px; float: none; width: 100%; }
form.formtastic fieldset.inputs > ol > li input { border: 1px solid #999; background-color: white; padding: 2px; font-size: 12px; height: 14px; }
form.formtastic fieldset.inputs > ol > li.hide-label label { display: none; }
form.formtastic fieldset.inputs > ol > li.check_boxes fieldset ol li label { float:left; width:50%; }
form.formtastic fieldset.inputs > ol > li > fieldset { width: 45%; float: left; display: block; }
form.formtastic fieldset.inputs { background-color: #EEE; padding: 5px; margin: 0 10px 0 0; }
form.formtastic p.add-another { padding: 5px; margin: 0 0 0 0; display: block; width: 635px; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; background-color: #eee; text-align: center; }
