/*
 * why use javascript and four images when you can use CSS and only two?
 */

a#all_asset_link, a#streamable_asset_link, a#attachment_asset_link {
    height: 11px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 6px 0px 5px 26px;
    margin-left: 10px;
    display: inline;
}

a#all_asset_link:hover, a#streamable_asset_link:hover, a#attachment_asset_link:hover, a#all_asset_link.selected_option, a#streamable_asset_link.selected_option, a#attachment_asset_link:hover {
    background-position: 0px -24px;
}