- title @class_name.pluralize
- case @emit_warning
- when true
  %p
    %strong Note:
    The values for this picklist are pre-defined by
    the PBCore standard. Adding custom options here may lead to invalid or
    nonstandard PBCore XML.
- when false
  -# nothing
- else
  = @emit_warning

%ul#objs
  - @objects.each do |obj|
    = render :partial => 'item', :locals => {:obj => obj}
    = render :partial => 'mini_form', :locals => {:obj => obj}
  = render :partial => 'mini_form', :locals => { :obj => @klass.new }
