- title "Manage"

%p Select a type of item to manage:
%ul
  - @controllers.each do |controller|
    - if permitted_to?(:index, controller.to_sym)
      %li= link_to controller.gsub('_', ' ').titlecase, :controller => controller, :action => 'index'
