<div class="identifier">
  <%- new_or_existing = identifier.new_record? ? 'new' : 'existing' -%>
  <%- prefix = "project[#{new_or_existing}_identifier_attributes][]" -%>

  <% fields_for prefix, identifier do |identifier_form| -%>
    <p>
      Identifier: <%= identifier_form.text_field :identifier %>
      <%= identifier_form.select :identifier_source_id, ['', nil] + IdentifierSource.all.map{|i| [i.name, i.id]} %>
      <%= link_to_function "remove", "$(this).parents('.identifier').remove()" %>
    </p>
  <% end -%>
</div>