<div class="identifier">
  <p>
    <%= f.label(:identifier, "Identifier:") %> <%= f.text_field :identifier %>
    <%= f.select :identifier_source_id, (IdentifierSource.all(:order => "name ASC") - [IdentifierSource::OUR_UUID_SOURCE]).map{|i| [i.name, i.id]} %>
    <%= f.remove_link "remove" %>
  </p>
</div>
