<div class="rights_summary">
  <p>
    <%= f.label(:rights_summary, "Rights Summary:") %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.text_area :rights_summary, :size => "80x5" %>
  </p>
</div>
