<% form_tag({:action => "index"}, {:method => "get"}) do %>
<p>
Search: <%= text_field_tag :q, @query %> <%= submit_tag "Search" %>
<a href="/static/search_help" onclick="searchHelp(); return false;">?</a>
<a href="/search">guided</a>
</p>
<% end %>