<div class="subject">
  <p>
    <select name="asset[subject_ids][]">
      <%= options_for_select(Subject.quick_load_for_select(subject.nil? ?
            "visible = 1" : ["visible = 1 OR id = ?", subject.id]),
            subject.id) %>
    </select>
    <%= f.remove_link "remove" %>
  </p>
</div>
