# -*- ruby -*-

set :app_db_host, 'localhost'
set :app_db_user, 'pbcore'
set :app_db_pass, 'xxxxxxxxxxx'

set :aws_bucket, "my-bucket"
set :aws_access, "AKIAJHYYKGSZ5KWK4M4Q"
set :aws_secret, "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

set :rb_bin_path, '/usr/bin'
set :server_type, :thin
# or
# set :server_type, :unicorn

# note: i've never actually tested setting these to different things...
# i don't know if it'll work or not...
role :web, "my-webserver"
role :app, "my-appserver"
role :db,  "my-dbserver", :primary=>true

set :user, "www"
set :use_sudo, false

set :app_config, {
  :theme => "gen",
  :footer_links => [ [ "pbcore.org", "http://www.pbcore.org/" ],
                     [ "Roasted Vermicelli", "http://vermicel.li/" ] ],
  :auth_ruleset => "default"
}

# uncomment if you're using god for process management
# set :have_god, true
